<div class="container">
    <div class="row mb-4 float-right">
        <button type="button" class="btn btn-dark" (click)="createPost()">
            <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            <span class="ml-2">Create a publication</span>
        </button>
    </div>
    <div *ngIf="publications.length > 0; else elsePublicationsBlock">
        <div *ngFor="let publication of publications" class="card w-75 mb-4">
            <div class="card-header">
                <div class="mb-4 d-flex w-100">
                    <div>
                        aplaceforgeek/
                    </div>
                    <div class="ml-auto">
                        {{publication.date}}
                        <button class="ml-2 btn btn-danger btn-sm" (click)="unsubscribe(publication)">Unsubscribe</button>
                    </div>
                </div>
              </div>
            <div class="card-body">
              <h5 class="card-title">{{publication.title}}</h5>
              <p class="card-text">{{publication.message}}</p>
            </div>
          </div>
    </div>
    <ng-template #elsePublicationsBlock>
        <div>
            <p>Nothing to show.</p>
            <p>Maybe publish something or
                <a [routerLink]="'/games/all'" routerLinkActive="active">
                    <span class="ml-2">subscribe to more games !</span>
                </a>
            </p> 
        </div>
    </ng-template>
</div>

